{% extends "base.html" %}

{% block content %}
<h3>{{ ambiente.amb_nome|title }}</h3>
<p>Conteúdo do ambiente {{ ambiente.amb_nome }} vai aqui.</p>

{% if ambiente.amb_nome == 'administrador' %}
<div class="list-group mt-4">
    <a href="{{ url_for('admin.cadastro') }}" class="list-group-item list-group-item-action">
        📝 Cadastro
    </a>
    <a href="{{ url_for('admin.gerencia') }}" class="list-group-item list-group-item-action">
        📊 Gerência
    </a>
</div>
{% else %}
<p>Este ambiente ainda não tem funcionalidades definidas.</p>
{% endif %}

{% endblock %}